<footer>
    <div class="line"></div>
    <section id="redesbox">
    <a target="_blank" href="https://mywed.com/es/photographer/agustingaragorry/"><img class="imagenredes" src="img/redes/redes_mywed.png" alt="Wedding photography by Agustin Garagorry"></a>
    <a target="_blank" href="https://www.instagram.com/agustingaragorry/"><img class="imagenredes" src="img/redes/redes_instagram.png" alt="Wedding photography by Agustin Garagorry"></a>
    <a target="_blank" href="https://www.linkedin.com/in/agust%C3%ADn-garagorry-786555116/"><img class="imagenredes" src="img/redes/redes_linkedin.png" alt="Wedding photography by Agustin Garagorry"></a>
    <a target="_blank" href="https://www.facebook.com/agustingaragorryfotografia"><img class="imagenredes" src="img/redes/redes_facebook.png" alt="Wedding photography by Agustin Garagorry"></a>
    </section>
    <p style="font-size: medium;"><strong>top 3 mywed</strong></p>
    <p class="textocursiva">best photographers in finland</p>

    <a id="mywedbest" target="_blank" href="https://mywed.com/es/photographer/agustingaragorry/"><img src="img/redes/mywedbig_Mesa de trabajo 1.svg" alt="Wedding photography by Agustin Garagorry"></a>

</footer>
