<div class="instagram-section">
            <h3 class="instagram-title">Follow me on Instagram</h3>
            <div class="instagram-grid">
                <div class="instagram-box">
                    <picture><source srcset="img/instagram/insta1.webp" type="image/webp"><img src="img/instagram/insta1.jpg" alt="Wedding photography" loading="lazy"></picture>
                </div>
                <div class="instagram-box">
                    <picture><source srcset="img/instagram/insta2.webp" type="image/webp"><img src="img/instagram/insta2.jpg" alt="Wedding photography" loading="lazy"></picture>
                </div>
                <div class="instagram-box">
                    <picture><source srcset="img/instagram/insta3.webp" type="image/webp"><img src="img/instagram/insta3.jpg" alt="Wedding photography" loading="lazy"></picture>
                </div>
                <div class="instagram-box">
                    <picture><source srcset="img/instagram/insta4.webp" type="image/webp"><img src="img/instagram/insta4.jpg" alt="Wedding photography" loading="lazy"></picture>
                </div>
                <div class="instagram-box">
                    <picture><source srcset="img/instagram/insta5.webp" type="image/webp"><img src="img/instagram/insta5.jpg" alt="Wedding photography" loading="lazy"></picture>
                </div>
                <div class="instagram-box">
                    <picture><source srcset="img/instagram/insta6.webp" type="image/webp"><img src="img/instagram/insta6.jpg" alt="Wedding photography" loading="lazy"></picture>
                </div>
            </div>
            <a class="btn btn-inline-block align-self-center instagram-btn"
            href="https://www.instagram.com/agustingaragorry/" target="_blank"> View more on Instagram </a>
        </div>
