<div class="container-fluid fixed-top" id="menu">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a href="index.html" class="navbar-brand">
                        <img src="logoagustin.png" alt="Logotipo Agustin Garagorry wedding photography" width="400" height="100%"
                            class="d-inline-block align-top" alt="logotipo de Agustin Garagorry wedding photographer">
                        <span style="display: none;">Agustin Garagorry</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#toggleMobileMenu" aria-controls="#toggleMobileMenu" aria-expanded="false"
                        aria-label="Toggle navigation" id="myNavBartoggler" onclick="darkMenuMobile()">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="toggleMobileMenu">
                        <ul class="navbar-nav ms-auto text-center">
                            <li>
                                <a class="nav-link animacion-navbar" href="aboutme.html" onclick="hideMenu()">about me</a>
                            </li>
                            <li class="dropdown">
                                <a class="nav-link animacion-navbar dropbtn" href="#" onclick="hideMenu()">Weddings

                                  <div class="dropdown-content">
                                    <a class="nav-link animacion-navbar" href="sebastian-ilona.html">sebastian & ilona</a>
                                    <a class="nav-link animacion-navbar" href="donato-chiara.html">donato & chiara</a>
                                    <a class="nav-link animacion-navbar" href="martin-maite.html">martin & maite</a>
                                    <a class="nav-link animacion-navbar" href="eduard-johana.html">eduard & johana</a>
                                    <a class="nav-link animacion-navbar" href="joanne-walter.html">joanne & walter</a>
                                    <a class="nav-link animacion-navbar" href="matias-aurora.html">matias & aurora</a>
                                  </div>

                                </a>
                                    
                            </li>
                            <li>
                                <a class="nav-link animacion-navbar" href="tel:+358417259298"
                                    onclick="hideMenu()">call me</a>
                            </li>
                            <li>
                                <a class="nav-link animacion-navbar" href="contact.html" id="link-destacado">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
